h1 {
  margin: 10px;
}

h2.checked-passed {
  color: green;
}

h2.checked-failed {
  color: red;
}

h2.unchecked {
  color: lightgray;
}

section {
  margin: 10px;
}

.users, .testSessions {
  width: 800px;
}

.answers {
  width: calc(100% - 20px);
}